@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 75%;
    text-align: center;
    
}

.header h1 {
    text-transform: uppercase;
}

.image-container {   
    clip-path: circle(50% at 50% 50%);
    background-image: url('../img/profile1.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 450px;
    margin: 2rem auto;  
}

.navigation ul li {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    width: 16rem;
    margin: 3rem 0;
}

.navigation ul li:not(:last-child) {
    margin-right: 6rem;
}


.main-container {
    margin: 0 auto;
    width: 75%;
}

.main-container div {
    margin-bottom: 2rem;
}

.main-container h1 {
    margin-bottom: 5rem;
}

.main-container p {
    text-align: justify;
}

.footer {
    font-size: 2rem;
    padding: 2rem;
}

.footer ul {
    list-style: none;
    margin-bottom: 3rem;
}

.footer ul li {
    display: inline-block;
    margin: 2rem;
}

.footer ul a {
    color: #777;
    text-decoration: none;
}


@media (min-width: 480px) {
    .image-container {
        background-image: url("../img/profile1.jpg");
        background-position: center;
    
     }
     .header {
        color: rgb(6, 84, 58);
    }

    .main {
        color: rgb(6, 84, 58);
    }

    .footer ul a {
        color: rgb(6, 84, 58);
    }

    .footer {
        color: rgb(6, 84, 58);
    }
    .container { 
    background-color: beige;
    color:brown;
    width: 100%;
}
} 

    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        border: 1px solid red;
    }
    .navigation ul li:not(:last-child) {
        border-bottom: none;
    }
    

    .main-container {
        padding: 0.75rem;
        width: 100%;
    }

    .main-container h1 {
        margin: 1rem auto;
    }
    

@media (min-width: 768px) {
.image-container {
background-image: url("../img/profile2.jpg"); 
background-position: center;
}
.header {
    color: rgb(84, 6, 74);
}

.main {
    color: rgb(160, 42, 164);
}

.footer ul a {
    color: rgb(155, 24, 129);
}

.footer {
    color: rgb(213, 72, 218);
}
.container {
    background-color: blue;

 }
 .navigation ul li {
    color: rgb(32, 5, 57);
   border: 1px solid rgb(103, 19, 103);
}
}



@media (min-width: 1024px){
    .image-container { 
background-image: url("../img/profile3.jpg");
background-position: center;

    }
    .header {
        color: rgb(40, 150, 169);
    }
    
    .main {
        color: rgb(25, 62, 173);
    }
    
    .footer ul a {
        color: rgb(50, 144, 199);
    }
    
    .footer {
        color: rgb(6, 84, 58);
    }
.container {
background-color: bisque;
color: aliceblue;
 }
}


@media (min-width: 1200px){
    .image-container { 
background-image: url("../img/profile4.jpg");
background-position: center;
    }
    .header {
        color: rgb(184, 84, 157);
    }
    
    .main {
        color: rgb(129, 17, 116);
    }
    
    .footer ul a {
        color: rgb(210, 97, 201);
    }
    
    .footer {
        color: rgb(189, 42, 172);
    }
.container { 
background-color: blueviolet;
color: rgb(64, 10, 114);
}
    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/
    .header h1 {
        margin: 3rem auto;
    }
    .navigation ul li {
        display: inline-block;
        width: 16rem;
    
    }
    
    .navigation ul li:not(:last-child) {
        border-bottom: 1px solid black;
        margin-right: 4rem;
    }

    .main-container {
        width: 75%;
    }

}


